@model FileViewModel

@{
    ViewData["Title"] = "Text Loading";
}

<div>
    <form action="/text" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" name="FileId" value="@Model.FileId"/>
        <p>
            <label>File Name</label>
            <input name="FileName" type="text" value="@Model.FileName"/>
            <div class="error">@Html.ValidationMessageFor(item => item.FileName)</div>
        </p>
        <p>
            <label>Text</label>
            <input name="FileContent" type="text" value="@Model.FileContent"/>
            <div class="error">@Html.ValidationMessageFor(item => item.FileContent)</div>
        </p>
        <p>
            <input name="ShouldBeDeleted" type="checkbox" value="true"/> File Should Be Deleted After download
        </p>
        
        <button>Upload</button>
    </form>
</div>

